In [2]:
import pandas as pd
from pandas_datareader import data,wb

In [3]:
data = wb.download(indicator='SE.PR<.TENR', country=['all'], 
                  start='2002', end='2016')

RemoteDataError: Unable to read URL: http://api.worldbank.org/countries/all/indicators/SE.PR<.TENR?date=2002%3A2016&per_page=25000&format=json

In [4]:
data = wb.download(indicator='SE.PRM.TENR', country=['all'], 
----> 2                   start='2002', end='2016')

SyntaxError: invalid syntax (<ipython-input-4-ff042d037197>, line 2)

In [5]:
data = wb.download(indicator='SE.PR<.TENR', country=['all'], start='2002', end='2016')

RemoteDataError: Unable to read URL: http://api.worldbank.org/countries/all/indicators/SE.PR<.TENR?date=2002%3A2016&per_page=25000&format=json

In [6]:
data = wb.download(indicator='SE.PRM.TENR', country=['all'], start='2002', end='2016')

In [7]:
print data

                             SE.PRM.TENR
country                year
Arab World             2016          NaN
                       2015          NaN
                       2014    85.320152
                       2013    85.511940
                       2012    86.101669
                       2011    85.245140
                       2010    85.211998
                       2009    84.195961
                       2008    84.011871
                       2007    83.280342
                       2006    82.685509
                       2005    82.489487
                       2004    81.607063
                       2003    80.805389
                       2002    80.051399
Caribbean small states 2016          NaN
                       2015          NaN
                       2014          NaN
                       2013    92.798218
                       2012    93.373039
                       2011    93.887428
                       2010    93.690407
                       2009    93.157509
                       2008    93.802490
                       2007    93.257927
                       2006    93.242813
                       2005    93.524918
                       2004    93.740372
                       2003    92.336708
                       2002    92.236092
...                                  ...
Zambia                 2016          NaN
                       2015          NaN
                       2014          NaN
                       2013    89.040359
                       2012    91.791161
                       2011    90.346428
                       2010    86.512672
                       2009    89.111603
                       2008    91.959000
                       2007    91.157669
                       2006    88.337532
                       2005    89.743393
                       2004    81.244652
                       2003          NaN
                       2002    68.111526
Zimbabwe               2016          NaN
                       2015          NaN
                       2014          NaN
                       2013    86.303169
                       2012    89.110260
                       2011          NaN
                       2010          NaN
                       2009          NaN
                       2008          NaN
                       2007          NaN
                       2006          NaN
                       2005          NaN
                       2004          NaN
                       2003    82.614067
                       2002    83.575790

[3960 rows x 1 columns]

In [8]:
data2 = data.head()

In [9]:
print data.head()

                 SE.PRM.TENR
country    year
Arab World 2016          NaN
           2015          NaN
           2014    85.320152
           2013    85.511940
           2012    86.101669

In [10]:
data2 = data.reset_index()
data2.shape

(3960, 3)

In [11]:
data2.head()

      country  year  SE.PRM.TENR
0  Arab World  2016          NaN
1  Arab World  2015          NaN
2  Arab World  2014    85.320152
3  Arab World  2013    85.511940
4  Arab World  2012    86.101669

In [12]:
data2.head(n=100)

                                        country  year  SE.PRM.TENR
0                                    Arab World  2016          NaN
1                                    Arab World  2015          NaN
2                                    Arab World  2014    85.320152
3                                    Arab World  2013    85.511940
4                                    Arab World  2012    86.101669
5                                    Arab World  2011    85.245140
6                                    Arab World  2010    85.211998
7                                    Arab World  2009    84.195961
8                                    Arab World  2008    84.011871
9                                    Arab World  2007    83.280342
10                                   Arab World  2006    82.685509
11                                   Arab World  2005    82.489487
12                                   Arab World  2004    81.607063
13                                   Arab World  2003    80.805389
14                                   Arab World  2002    80.051399
15                       Caribbean small states  2016          NaN
16                       Caribbean small states  2015          NaN
17                       Caribbean small states  2014          NaN
18                       Caribbean small states  2013    92.798218
19                       Caribbean small states  2012    93.373039
20                       Caribbean small states  2011    93.887428
21                       Caribbean small states  2010    93.690407
22                       Caribbean small states  2009    93.157509
23                       Caribbean small states  2008    93.802490
24                       Caribbean small states  2007    93.257927
25                       Caribbean small states  2006    93.242813
26                       Caribbean small states  2005    93.524918
27                       Caribbean small states  2004    93.740372
28                       Caribbean small states  2003    92.336708
29                       Caribbean small states  2002    92.236092
..                                          ...   ...          ...
70                          East Asia & Pacific  2006    94.709732
71                          East Asia & Pacific  2005    95.181770
72                          East Asia & Pacific  2004    96.656387
73                          East Asia & Pacific  2003    97.295174
74                          East Asia & Pacific  2002    97.492416
75  East Asia & Pacific (excluding high income)  2016          NaN
76  East Asia & Pacific (excluding high income)  2015          NaN
77  East Asia & Pacific (excluding high income)  2014    96.025803
78  East Asia & Pacific (excluding high income)  2013    95.901901
79  East Asia & Pacific (excluding high income)  2012    96.097107
80  East Asia & Pacific (excluding high income)  2011    96.133148
81  East Asia & Pacific (excluding high income)  2010    95.923203
82  East Asia & Pacific (excluding high income)  2009    95.812241
83  East Asia & Pacific (excluding high income)  2008    95.439133
84  East Asia & Pacific (excluding high income)  2007    95.386147
85  East Asia & Pacific (excluding high income)  2006    94.360008
86  East Asia & Pacific (excluding high income)  2005    94.885033
87  East Asia & Pacific (excluding high income)  2004    96.486351
88  East Asia & Pacific (excluding high income)  2003    97.167389
89  East Asia & Pacific (excluding high income)  2002    97.399597
90   East Asia & Pacific (IDA & IBRD countries)  2016          NaN
91   East Asia & Pacific (IDA & IBRD countries)  2015          NaN
92   East Asia & Pacific (IDA & IBRD countries)  2014    96.014572
93   East Asia & Pacific (IDA & IBRD countries)  2013    95.888924
94   East Asia & Pacific (IDA & IBRD countries)  2012    96.088448
95   East Asia & Pacific (IDA & IBRD countries)  2011    96.124718
96   East Asia & Pacific (IDA & IBRD countries)  2010    95.912613
97   East Asia & Pacific (IDA & IBRD countries)  2009    95.800529
98   East Asia & Pacific (IDA & IBRD countries)  2008    95.423866
99   East Asia & Pacific (IDA & IBRD countries)  2007    95.370659

[100 rows x 3 columns]

In [13]:
data2.tail(n=10)

       country  year  SE.PRM.TENR
3950  Zimbabwe  2011          NaN
3951  Zimbabwe  2010          NaN
3952  Zimbabwe  2009          NaN
3953  Zimbabwe  2008          NaN
3954  Zimbabwe  2007          NaN
3955  Zimbabwe  2006          NaN
3956  Zimbabwe  2005          NaN
3957  Zimbabwe  2004          NaN
3958  Zimbabwe  2003    82.614067
3959  Zimbabwe  2002    83.575790

data2.year.unique()

In [14]:
data2.year.unique()

array([u'2016', u'2015', u'2014', u'2013', u'2012', u'2011', u'2010',
       u'2009', u'2008', u'2007', u'2006', u'2005', u'2004', u'2003',
       u'2002'], dtype=object)

In [15]:
data2.country.unique()

array([u'Arab World', u'Caribbean small states',
       u'Central Europe and the Baltics', u'Early-demographic dividend',
       u'East Asia & Pacific',
       u'East Asia & Pacific (excluding high income)',
       u'East Asia & Pacific (IDA & IBRD countries)', u'Euro area',
       u'Europe & Central Asia',
       u'Europe & Central Asia (excluding high income)',
       u'Europe & Central Asia (IDA & IBRD countries)', u'European Union',
       u'Fragile and conflict affected situations',
       u'Heavily indebted poor countries (HIPC)', u'High income',
       u'IBRD only', u'IDA & IBRD total', u'IDA blend', u'IDA only',
       u'IDA total', u'Late-demographic dividend',
       u'Latin America & Caribbean',
       u'Latin America & Caribbean (excluding high income)',
       u'Latin America & the Caribbean (IDA & IBRD countries)',
       u'Least developed countries: UN classification',
       u'Low & middle income', u'Low income', u'Lower middle income',
       u'Middle East & North Africa',
       u'Middle East & North Africa (excluding high income)',
       u'Middle East & North Africa (IDA & IBRD countries)',
       u'Middle income', u'North America', u'Not classified',
       u'OECD members', u'Other small states',
       u'Pacific island small states', u'Post-demographic dividend',
       u'Pre-demographic dividend', u'Small states', u'South Asia',
       u'South Asia (IDA & IBRD)', u'Sub-Saharan Africa',
       u'Sub-Saharan Africa (excluding high income)',
       u'Sub-Saharan Africa (IDA & IBRD countries)',
       u'Upper middle income', u'World', u'Afghanistan', u'Albania',
       u'Algeria', u'American Samoa', u'Andorra', u'Angola',
       u'Antigua and Barbuda', u'Argentina', u'Armenia', u'Aruba',
       u'Australia', u'Austria', u'Azerbaijan', u'Bahamas, The',
       u'Bahrain', u'Bangladesh', u'Barbados', u'Belarus', u'Belgium',
       u'Belize', u'Benin', u'Bermuda', u'Bhutan', u'Bolivia',
       u'Bosnia and Herzegovina', u'Botswana', u'Brazil',
       u'British Virgin Islands', u'Brunei Darussalam', u'Bulgaria',
       u'Burkina Faso', u'Burundi', u'Cabo Verde', u'Cambodia',
       u'Cameroon', u'Canada', u'Cayman Islands',
       u'Central African Republic', u'Chad', u'Channel Islands', u'Chile',
       u'China', u'Colombia', u'Comoros', u'Congo, Dem. Rep.',
       u'Congo, Rep.', u'Costa Rica', u"Cote d'Ivoire", u'Croatia',
       u'Cuba', u'Curacao', u'Cyprus', u'Czech Republic', u'Denmark',
       u'Djibouti', u'Dominica', u'Dominican Republic', u'Ecuador',
       u'Egypt, Arab Rep.', u'El Salvador', u'Equatorial Guinea',
       u'Eritrea', u'Estonia', u'Ethiopia', u'Faroe Islands', u'Fiji',
       u'Finland', u'France', u'French Polynesia', u'Gabon',
       u'Gambia, The', u'Georgia', u'Germany', u'Ghana', u'Gibraltar',
       u'Greece', u'Greenland', u'Grenada', u'Guam', u'Guatemala',
       u'Guinea', u'Guinea-Bissau', u'Guyana', u'Haiti', u'Honduras',
       u'Hong Kong SAR, China', u'Hungary', u'Iceland', u'India',
       u'Indonesia', u'Iran, Islamic Rep.', u'Iraq', u'Ireland',
       u'Isle of Man', u'Israel', u'Italy', u'Jamaica', u'Japan',
       u'Jordan', u'Kazakhstan', u'Kenya', u'Kiribati',
       u'Korea, Dem. People\u2019s Rep.', u'Korea, Rep.', u'Kosovo',
       u'Kuwait', u'Kyrgyz Republic', u'Lao PDR', u'Latvia', u'Lebanon',
       u'Lesotho', u'Liberia', u'Libya', u'Liechtenstein', u'Lithuania',
       u'Luxembourg', u'Macao SAR, China', u'Macedonia, FYR',
       u'Madagascar', u'Malawi', u'Malaysia', u'Maldives', u'Mali',
       u'Malta', u'Marshall Islands', u'Mauritania', u'Mauritius',
       u'Mexico', u'Micronesia, Fed. Sts.', u'Moldova', u'Monaco',
       u'Mongolia', u'Montenegro', u'Morocco', u'Mozambique', u'Myanmar',
       u'Namibia', u'Nauru', u'Nepal', u'Netherlands', u'New Caledonia',
       u'New Zealand', u'Nicaragua', u'Niger', u'Nigeria',
       u'Northern Mariana Islands', u'Norway', u'Oman', u'Pakistan',
       u'Palau', u'Panama', u'Papua New Guinea', u'Paraguay', u'Peru',
       u'Philippines', u'Poland', u'Portugal', u'Puerto Rico', u'Qatar',
       u'Romania', u'Russian Federation', u'Rwanda', u'Samoa',
       u'San Marino', u'Sao Tome and Principe', u'Saudi Arabia',
       u'Senegal', u'Serbia', u'Seychelles', u'Sierra Leone', u'Singapore',
       u'Sint Maarten (Dutch part)', u'Slovak Republic', u'Slovenia',
       u'Solomon Islands', u'Somalia', u'South Africa', u'South Sudan',
       u'Spain', u'Sri Lanka', u'St. Kitts and Nevis', u'St. Lucia',
       u'St. Martin (French part)', u'St. Vincent and the Grenadines',
       u'Sudan', u'Suriname', u'Swaziland', u'Sweden', u'Switzerland',
       u'Syrian Arab Republic', u'Tajikistan', u'Tanzania', u'Thailand',
       u'Timor-Leste', u'Togo', u'Tonga', u'Trinidad and Tobago',
       u'Tunisia', u'Turkey', u'Turkmenistan', u'Turks and Caicos Islands',
       u'Tuvalu', u'Uganda', u'Ukraine', u'United Arab Emirates',
       u'United Kingdom', u'United States', u'Uruguay', u'Uzbekistan',
       u'Vanuatu', u'Venezuela, RB', u'Vietnam', u'Virgin Islands (U.S.)',
       u'West Bank and Gaza', u'Yemen, Rep.', u'Zambia', u'Zimbabwe'], dtype=object)

In [16]:
data3 = data2[data2.country == 'France']
print data3

     country  year  SE.PRM.TENR
1710  France  2016          NaN
1711  France  2015          NaN
1712  France  2014    99.442268
1713  France  2013    99.339882
1714  France  2012    98.932777
1715  France  2011    99.042549
1716  France  2010    99.256599
1717  France  2009    99.242249
1718  France  2008    99.149193
1719  France  2007    99.207787
1720  France  2006    99.195068
1721  France  2005    99.291183
1722  France  2004    99.058853
1723  France  2003    99.426430
1724  France  2002    99.582077

In [17]:
data4 = data2[data2.year == '2008']
print data4

                                                country  year  SE.PRM.TENR
8                                            Arab World  2008    84.011871
23                               Caribbean small states  2008    93.802490
38                       Central Europe and the Baltics  2008    96.458633
53                           Early-demographic dividend  2008    92.292137
68                                  East Asia & Pacific  2008    95.730942
83          East Asia & Pacific (excluding high income)  2008    95.439133
98           East Asia & Pacific (IDA & IBRD countries)  2008    95.423866
113                                           Euro area  2008    99.086693
128                               Europe & Central Asia  2008    97.130112
143       Europe & Central Asia (excluding high income)  2008    95.146240
158        Europe & Central Asia (IDA & IBRD countries)  2008    95.204086
173                                      European Union  2008    98.534569
188            Fragile and conflict affected situations  2008    71.722549
203              Heavily indebted poor countries (HIPC)  2008    75.937141
218                                         High income  2008    97.457123
233                                           IBRD only  2008    95.981277
248                                    IDA & IBRD total  2008    89.704262
263                                           IDA blend  2008    74.647743
278                                            IDA only  2008    78.905518
293                                           IDA total  2008    77.549911
308                           Late-demographic dividend  2008    96.627670
323                           Latin America & Caribbean  2008    95.387291
338   Latin America & Caribbean (excluding high income)  2008    95.361450
353   Latin America & the Caribbean (IDA & IBRD coun...  2008    95.391823
368        Least developed countries: UN classification  2008    78.850510
383                                 Low & middle income  2008          NaN
398                                          Low income  2008    77.243912
413                                 Lower middle income  2008    89.436531
428                          Middle East & North Africa  2008    93.303787
443   Middle East & North Africa (excluding high inc...  2008    94.154579
...                                                 ...   ...          ...
3518                                             Sweden  2008    98.478081
3533                                        Switzerland  2008    98.562981
3548                               Syrian Arab Republic  2008    99.024460
3563                                         Tajikistan  2008    97.766510
3578                                           Tanzania  2008    95.866676
3593                                           Thailand  2008    95.068550
3608                                        Timor-Leste  2008    77.423973
3623                                               Togo  2008    91.467873
3638                                              Tonga  2008          NaN
3653                                Trinidad and Tobago  2008    97.977821
3668                                            Tunisia  2008    98.008034
3683                                             Turkey  2008    97.998268
3698                                       Turkmenistan  2008          NaN
3713                           Turks and Caicos Islands  2008          NaN
3728                                             Tuvalu  2008          NaN
3743                                             Uganda  2008          NaN
3758                                            Ukraine  2008    88.696182
3773                               United Arab Emirates  2008          NaN
3788                                     United Kingdom  2008    99.068092
3803                                      United States  2008    97.485748
3818                                            Uruguay  2008    99.255592
3833                                         Uzbekistan  2008    95.071007
3848                                            Vanuatu  2008          NaN
3863                                      Venezuela, RB  2008    91.040787
3878                                            Vietnam  2008    97.274078
3893                              Virgin Islands (U.S.)  2008          NaN
3908                                 West Bank and Gaza  2008    85.958740
3923                                        Yemen, Rep.  2008    76.208420
3938                                             Zambia  2008    91.959000
3953                                           Zimbabwe  2008          NaN

[264 rows x 3 columns]

In [18]:
print data2.year == '2008'

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8        True
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23       True
24      False
25      False
26      False
27      False
28      False
29      False
        ...
3930    False
3931    False
3932    False
3933    False
3934    False
3935    False
3936    False
3937    False
3938     True
3939    False
3940    False
3941    False
3942    False
3943    False
3944    False
3945    False
3946    False
3947    False
3948    False
3949    False
3950    False
3951    False
3952    False
3953     True
3954    False
3955    False
3956    False
3957    False
3958    False
3959    False
Name: year, Length: 3960, dtype: bool

In [19]:
index = data2.groupby('country')['SE.PRM.TENR'].trandform(max) == data2['SE.PRM.TENR']

AttributeError: 'SeriesGroupBy' object has no attribute 'trandform'

In [30]:
## index有點像是filter

In [27]:
index = data2.groupby(['country'])['SE.PRM.TENR'].transform(max) == data2['SE.PRM.TENR']
data5 = data2[index]
print data5.head(n=10)

                                           country  year  SE.PRM.TENR
4                                       Arab World  2012    86.101669
20                          Caribbean small states  2011    93.887428
36                  Central Europe and the Baltics  2010    96.898399
47                      Early-demographic dividend  2014    93.689827
74                             East Asia & Pacific  2002    97.492416
89     East Asia & Pacific (excluding high income)  2002    97.399597
104     East Asia & Pacific (IDA & IBRD countries)  2002    97.403282
119                                      Euro area  2002    99.234787
134                          Europe & Central Asia  2002    97.972458
147  Europe & Central Asia (excluding high income)  2004    96.850891